.address-list
  .content
    .body
      .find.input
        input(placeholder="Найти адрес" v-on:change="searchAddress()")
      .loading-animation(v-if="!isLoaded")
        #fountainG
          .fountainG#fountainG_1
          .fountainG#fountainG_2
          .fountainG#fountainG_3
          .fountainG#fountainG_4
          .fountainG#fountainG_5
          .fountainG#fountainG_6
          .fountainG#fountainG_7
          .fountainG#fountainG_8
      .upper-titles.row(v-else)
        .upper-item Адрес
      .values(v-for="(address, index) in addresses")
        .address-value(v-on:click="goToAddress(index)") {{address.address_value}}
