@import '../../styles/fonts-rule';
@import '../../styles/colors';
.about {
  background: #ffffff;
  display: flex;
  position: relative;

  &-left {
    padding: 78px 0;

    &__text {
      margin: 0 0 0 80px;
      max-width: 460px;

      p.about {
        font-size: 14px;
        line-height: 1.29;
        margin: 0 0 15px 0;
        color: $text;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
  &-right {
    width: 40%;
    height: 100%;
    position: absolute;
    right: -21.2%;
    background: $f-dark;
  }
}
.advantages {
  width: 100%;
  background: #ffffff;
  padding: 74px 0 156px 0;

  &__list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__item {
    max-width: 221px;
    &:first-child {
      margin: 0 0 0 80px;
    }
    &:last-child {
      margin: 0 80px 0 0;
    }
    .title {
      font-size: 36px;
      font-weight: bold;
      line-height: 0.94;
      color: $f-dark;
      margin: 0 0 20px 0;
    }
    .descr {
      font-size: 14px;
      line-height: 1.29;
      color: $text;
    }
  }

}