@import '../../styles/fonts-rule';
@import '../../styles/colors';
.content-block {
  box-shadow: 0 0 40px 0 rgba(80, 80, 80, 0.5);
}
.index-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: $green;
  padding: 40px 0 60px;
  color: #ffffff;

  &__title {
    font-size: 36px;
    line-height: 1.08;
    letter-spacing: -1.8px;
    margin: 0 auto 40px 80px;
    text-transform: uppercase;
    font-weight: 300;

    strong {
      font-weight: bold;
    }
  }

  &__img {
    max-width: 780px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
  }

  &__name {
    max-width: 780px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: $f-dark;

  }
  img.circle {
    width: 80px;
    height: 80px;
    //margin: 0 10px;
  }
  img.line {
    width: 30px;
    height: 4px;
  }
  img.arrow {
    width: 30.4px;
    height: 25.7px;
  }
}
.about {
  background: #ffffff;
  display: flex;
  flex-flow: row nowrap;

  &-left {
    padding: 78px 0;

    &__text {
      margin: 0 0 0 80px;
      max-width: 460px;

      p.about {
        font-size: 14px;
        line-height: 1.29;
        margin: 0 0 15px 0;
        color: $text;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
  &-right {

    background: $f-dark;
  }
}
.advantages {
  width: 100%;
  background: #ffffff;
  padding: 74px 0 138px 0;
  box-shadow: 0 0 40px 0 rgba(80, 80, 80, 0.5);
  z-index: 1;

  &__list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__item {
    max-width: 221px;
    &:first-child {
      margin: 0 0 0 80px;
    }
    &:last-child {
      margin: 0 80px 0 0;
    }
    .title {
      font-size: 36px;
      font-weight: bold;
      line-height: 0.94;
      color: $f-dark;
      margin: 0 0 20px 0;
    }
    .descr {
      font-size: 14px;
      line-height: 1.29;
      color: $text;
    }
  }

}