.content 
  .content-left
    .content-left__text 
      p.content The way bitcoin transactions work causes them to be chained together in a permanent public record. They are traceable along the blockchain from one bitcoin address to another. 
      p.content Bitcoin mixer severs the links between your old address and a new address by sending coins from you to other people and coins from them to you. It also randomizes transaction amounts and adds time delays to the transactions. Generally there is no link between the original transactions and the final address of the coins. This process protects your privacy and prevents other people tracing your payments on the internet.
      p.content Generally there is no link between the original transactions and the final address of the coins. This process protects your privacy and prevents other people tracing your payments on the internet.
  .content-right
