.content
  .about
    .about-left
      .about-left__text 
        p.about The way bitcoin transactions work causes them to be chained together in a permanent public record. They are traceable along the blockchain from one bitcoin address to another. 
        p.about Bitcoin mixer severs the links between your old address and a new address by sending coins from you to other people and coins from them to you. It also randomizes transaction amounts and adds time delays to the transactions. Generally there is no link between the original transactions and the final address of the coins. This process protects your privacy and prevents other people tracing your payments on the internet.
        p.about Generally there is no link between the original transactions and the final address of the coins. This process protects your privacy and prevents other people tracing your payments on the internet.
    .about-right 
  .advantages
    .advantages__list
      .advantages__item
        .title Anonymous Mixer
        .descr Our bitcoin mixing service does not require any account or personal information and doesn't collect any information about visitor's activity.
      .advantages__item
        .title Transparent Policy
        .descr We have large amount of pre-mixed bitcoins prepared for you. You can verify that your bitcoins have been properly anonymized via checking output address in a block explorer such as Blockr.io.
      .advantages__item
        .title Intuitive Interface
        .descr Our bitcoin mixing service is designed to be as intuitive as possible. The whole process of bitcoins anonymization should not take more than few minutes.