* {
  font-family: GothamPro;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

canvas, canvas.range-canvas {
  margin-bottom: 5px;
  margin-left: 40px;
  font-family: GothamPro;
}

.max-value {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9153c7;
}
