.range-rower-container(ref="canvasContainer")
  canvas.range-canvas(
  id="rangeId"
  ref="rangeCanvas"
  width="375px"
  height="40px"
  v-on:mousedown="mouseDownHandler"
  v-on:mouseup="mouseUpHandler"
  v-on:mouseleave="mouseLeaveHandler"
  v-on:mousemove="mouseMoveHandler"
  )

