$url: '../../assets/images/';
* {
  font-family: GothamPro;
}
.invest-page {
  min-width: 1202px;
  background:
    url($url + 'info-left-angle.svg') 0 100% no-repeat,
    url($url + 'info-right-angle.svg') 100% 100% no-repeat,
    linear-gradient(124deg, #3023ae, #c86dd7);
  width: 70%;
  margin: 0 auto;
  .content {
    max-width: 940px;
    height: 1000px;
    margin: 0 auto;
    color: #ffffff;


    .page-body {
      margin: 0 auto;
      width: 940px;
      height: 540px;
      margin-top: 60px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
}
