.invest-page
  .content
    mainHeader
    .page-body
     <span>As you probably already know, bitcoin is not anonymous (this property was never part of its original design). Bitcoin transactions are chained together in a permanent public record. Analysis of the blockchain may reveal a lot information about your transactions [1] (e.g., recipients of your payments, addresses in your wallet or the balance of your wallet). The following sections contains everything you need to know in order to prevent such kind of blockchain analysis.
      |<br><br>
      |
      | There are currently three main methods how you can make your transactions more private. The first method is called CoinJoin [2] and is based on "joining" your transactions with transactions of other users. Most advanced project based on this method is JoinMarket [3]. This method is very secure, but unfortunately not fully implemented yet. However, the development process continues and the user base is slowly growing. The second method is called Confidential Transactions [4]. In simple terms, this method encrypts amounts in your transactions and helps obfuscate chain of the transactions. This method is not yet part of bitcoin implementation, but may be implemented in the future.
      |<br><br>
      | There are currently three main methods how you can make your transactions more private. The first method is called CoinJoin [2] and is based on "joining" your transactions with transactions of other users. Most advanced project based on this method is JoinMarket [3]. This method is very secure, but unfortunately not fully implemented yet. However, the development process continues and the user base is slowly growing. The second method is called Confidential Transactions [4]. In simple terms, this method encrypts amounts in your transactions and helps obfuscate chain of the transactions. This method is not yet part of bitcoin implementation, but may be implemented in the future.
      |<br><br>
      | Investing<br>
      | There are currently three main methods how you can make your transactions more private. The first method is called CoinJoin [2] and is based on "joining" your transactions with transactions of other users. Most advanced project based on this method is JoinMarket [3]. This method is very secure, but unfortunately not fully implemented yet. However, the development process continues and the user base is slowly growing. The second method is called Confidential Transactions [4]. In simple terms, this method encrypts amounts in your transactions and helps obfuscate chain of the transactions. This method is not yet part of bitcoin implementation, but may be implemented in the future.
      </span>
