$url: '../../assets/images/';
.main-page {
  width: 100vh;
  position: relative;
  background: url($url + 'main-fon.svg') 100% 0,
  url($url + 'small-fon.svg') 0 286px,
  url($url + 'back-fon.svg') 0 0;
  background-repeat: no-repeat;
  background-size: cover, contain, contain;
}
.main-wrapper {
  position: relative;
}
.content-wrapper {
  width: 70%;
  margin: 0 auto;
}