.main-page
  .main-fon 
    img(src="../../assets/images/main-fon.svg", alt="")
  .small-fon
    img(src="../../assets/images/small-fon.svg", alt="")
  .main-wrapper
    mainHeader
    mainIndex
    mainContent
    mainFooter

