@import '../../styles/fonts-rule';
@import '../../styles/colors';
.index {
  color: #ffffff;
  font-family: $font;
  width: 100%;
  z-index: 80;

  &-main {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    &__name {
      font-size: 100px;
      font-weight: 300;
      letter-spacing: -3.5px;
      margin: 112px 0 20px 0;

      strong {
        font-weight: bold;

        &:first-child {
          letter-spacing: -5px;
        }
      }
    }

    &__buttons {
      margin: 0 0 37px 0;

      button {
        font-size: 18px;
        border: 0;
        margin: 0 20px 0 0;
        cursor: pointer;
        background: none;
        color: #ffffff;
        padding: 12px 58px;
        /*&:hover {
          background: $f-button;
          border-radius: 30px;
        }*/
      }

      .active {
        background: $f-button;
        border-radius: 30px;
      }
    }

    &__descr {
      max-width: 540px;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: right;
      margin: 0 0 63px auto;
    }
  }
}