.index 
  .index-main
    .index-main__name <strong>BIT</strong>Shuffle<strong>.io</strong>
    .index-main__buttons
      button.active Shuffle
      button Learn more
    .index-main__descr The way bitcoin transactions work causes them to be chained together in a permanent public record
  .index-block
    .index-block__title What is<br><strong>crypto currency mixing service?</strong>
    .index-block__img
      img.circle(src="../../assets/images/index1.svg", alt="man")
      img.line(src="../../assets/images/line.svg", alt="line")
      img.line(src="../../assets/images/line.svg", alt="line")
      img.circle(src="../../assets/images/index2.svg", alt="bitcoins")
      img.line(src="../../assets/images/line.svg", alt="line")
      img.line(src="../../assets/images/line.svg", alt="line")
      img.circle(src="../../assets/images/index3.svg", alt="mixer")
      img.line(src="../../assets/images/line.svg", alt="line")
      img.line(src="../../assets/images/line.svg", alt="line")
      img.circle(src="../../assets/images/index4.svg", alt="bitcoins")
      img.line(src="../../assets/images/line.svg", alt="line")
      img.arrow(src="../../assets/images/arrow.svg", alt="line")
      img.circle(src="../../assets/images/index5.svg", alt="")
    .index-block__name
      .name You
      .name Tainted bitcoins
      .name Coin mixer
      .name Anonymized bitcoins
      .name ???