.index 
  .index-main
    .index-main__name <strong>BIT</strong>Shuffle<strong>.io</strong>
    .index-main__buttons
      button(v-bind:class="{ active: activeShuffle }", v-on:click="changeIndex") SHUFFLE
      button(v-bind:class="{ active: activeMore }", v-on:click="changeIndex") Learn more
    .index-main__descr The way bitcoin transactions work causes them to be chained together in a permanent public record