.index 
  .index-main
    .index-main__name <strong>BIT</strong>Shuffle<strong>.io</strong>
    .index-main__buttons
      button.active SHUFFLE
      button Learn more
    .index-main__descr The way bitcoin transactions work causes them to be chained together in a permanent public record