.index 
  .index-main
    .index-main__name <strong>BIT</strong>Shuffle<strong>.io</strong>
    .index-main__buttons
      button.active Shuffle
      button Learn more
    .index-main__descr The way bitcoin transactions work causes them to be chained together in a permanent public record
  .index-block
    .index-block__title What is<br><strong>crypto currency mixing service?</strong>
    .index-block__list
      .index-block__item 
        img(src="", alt="", srcset="")
        .name You
      .index-block__item 
        img(src="", alt="", srcset="")
        .name Tainted bitcoins
      .index-block__item 
        img(src="", alt="", srcset="")
        .name Coin mixer
      .index-block__item 
        img(src="", alt="", srcset="")
        .name Anonymized bitcoins
      .index-block__item 
        img(src="", alt="", srcset="")
        .name ???