$url: '../../assets/images/';
* {
  font-family: GothamPro;
}
.info-page {
  width: 100vh;
  height: 100vh;
  background:
  url($url + 'how-work-right-angle.svg') 100% 10% no-repeat,
  url($url + 'how-work-left-angle.svg') 0 70% no-repeat,
  linear-gradient(124deg, #3023ae, #c86dd7);
 // width: 70%;
  margin: 0 auto;
  background-size: cover;
  .content {
    max-width: 940px;
    margin: 0 auto;
    color: #ffffff;
    .page-title {
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.08;
      letter-spacing: -1.8px;
      text-align: left;
      color: #ffffff;
      margin: 0 auto;

      .upper-title {
        margin-top: 4.7%;
        font-weight: 300;
        margin-left: 5.6%;
      }
      .lower-title {
        margin-left: 5.6%;
        margin-bottom: 15.3%;
      }
    }

    .page-body {
      margin: 0 auto;
      width: 940px;
      height: 540px;
      margin-bottom: 12.1%;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
}
