.info-page
  .content
    mainHeader
    .page-title
      .upper-title HOW
      .lower-title DOES IT WORK?
    .page-body
     <span>First, let's look at the classic transactions, the processing of which involve the banks or other financial institutions.
      |<br><br>
      | Almost for all traditional payments, it is required that a third party, manually or automatically, review the documents certifying the identity of the sender and the beneficiary person, approve transactions, and large transactions must be regulated by the appropriate governmental authority. The regulating organ controls everything, if the payment processing is done in accordance with the regulations, with no rejections, no fraud occurred, and also checks the compliance of funds with the law.
      | And now let's look at the example of such a popular Bitcoin.
      |<br><br>
      | The transactions are processed quite differently in the Bitcoin network, it does not have a central regulatory authority, all transactions are processed according to the laid-down algorithm, in the open code, through a system with constant synchronization with the network, the "block chain", and no one can cancel or suspend your transactions after the network connection is confirmed, make them invalid, hold until clarifications or confiscate.
      |<br><br>
      | In this case, there is an opinion that the use of Bitcoin is anonymous because you do not need identity documents to use the wallet (more precisely, the address) where the transaction occures. This is true, and Bitcoin can be considered anonymous, but only until the moment when the coin is connected to your identity. Once you buy something or make another financial transfer, where your address is listed as the outcoming, you can be easily identified by tracing the Bitcoin transfer chain from the last address to the penultimate and so on to the very first. To avoid this, use a reliable mixer-anonymizer, creating a gap in the transaction chain.
      | The mixcoins.io mixer offers mixing of BTC, ETH, LTC in two ways (read more in detail - why should I mix bitcoins):
      |<br><br>
      | Method 1: Mixing.
      |<br><br>
      | You send your Bitcoin to the wallet address and get the OTHER Bitcoin from different wallets, at different time, in different amounts. For the greater anonymity, you can indicate few of your beneficiary addresses, physically identified in different locations, also, alternating the thin and ordinary wallets.
      |<br><br>
      | Method 2: Mixing of crypto currency.
      |<br><br>
      | Increased anonymity! You can get your coins in different currencies, for example, by sending Bitcoin, get 73% in BTC, 12% in ETH and 15% in LTC. The percentage of the currencies can be any predetermined.
      </span>
