
* {
  font-family: GothamPro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.main-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  .upper-block {
    margin-top: 50px;

    .upper-description-title {
      font-weight: bold;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.96;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    .upper-description-details {
      min-width: 712px;
      margin-top: 20px;
      font-weight: 300;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.96;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }

  .lower-block {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    //background: url("../../assets/images/right-bg.png") 100% 100% no-repeat;
    //background-size: contain;
    margin-top: 75px;

    .security {
      display: flex;
      justify-content: flex-end;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.79;
      letter-spacing: normal;
      color: #ffffff;
      margin-bottom: 31px;

    }

    .description {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 50px;
      min-width: 67.2%;
     // max-width: 13.9%;
      .title {
        margin-right: 49px;
        min-width: 203px;
        .upper-title {
          font-size: 24px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }

        .lower-title {
          font-size: 24px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
      }

      .title:nth-child(3) {
        min-width: 153px;

      }
      .title:nth-child(4) {
        margin-right: -1%;
        min-width: 237px;

      }
    }

    .stats-title {
      margin: 0 auto;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.79;
      letter-spacing: normal;
      text-align: center;
      margin-bottom: 38px;
    }

    .stats-details {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin-bottom: 87px;
      min-width: 59.7%;
      .btc {
        margin-right: 136px;
        text-align: center;

        .value {
          font-size: 24px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.79;
          letter-spacing: normal;
          text-align: right;
          margin-top: 20px;
          margin-bottom: 10px;
        }
        .total {
          font-size: 18px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.06;
          letter-spacing: normal;
          text-align: left;
        }
      }

      .ltc {
        margin-right: 136px;
        text-align: center;
        .value {
          font-size: 24px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.79;
          letter-spacing: normal;
          text-align: right;
          margin-top: 20px;
          margin-bottom: 10px;
        }
        .total {
          font-size: 18px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.06;
          letter-spacing: normal;
          text-align: left;
        }
      }

      .eth {
        text-align: center;
        .value {
          font-size: 24px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.79;
          letter-spacing: normal;
          text-align: right;
          margin-top: 20px;
          margin-bottom: 10px;
        }
        .total {
          font-size: 18px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.06;
          letter-spacing: normal;
          text-align: left;
        }
      }


    }
  }
}

