$url: '../../assets/images/';
@import '../../styles/fonts-rule';
@import '../../styles/colors';
.main-footer {
  width: 100%;
  bottom: 0;
  margin-top: -220px;
  position: relative;
  display: flex;
  align-items: flex-end;
  background: url($url + 'footer-fon.svg') 0 100%,
  url($url + 'footer-back.svg') 0% 0%;
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: #ffffff;
  padding: 150px 0 0 0;
  /*@media (min-width: 1500px) {
    background: url($url + 'footer-fon.svg') 0 120%,
    url($url + 'footer-back.svg') 0% 0%;
  }*/
}
.content-wrap {
  box-sizing: border-box;
  
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  font-family: $font;
  padding: 0 0 87px 0;
  //padding: 150px 0 0 0;
}
.upper-block {
  max-width: 712px;
  font-size: 24px;
  font-weight: 300;
  line-height: 0.96;
  margin: 0 0 74px 0;
  &__title {
    font-weight: bold;
    margin: 0 0 15px 0;
  }
}
.lower-block {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 0 50px 0;
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 0.79;
    text-align: right;
    margin: 0 0 31px 0;
  }
  &__list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__item {
    max-width: 237px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
  }
}
.stats-block {
  display: flex;
  flex-flow: column nowrap;
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 0.79;
    text-align: center;
    margin: 0 0 38px 0;
  }
  &__list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
    img {
      width: 147px;
      height: 147px;
      margin: 0 0 20px 0;
    }
    .value {
      font-size: 24px;
      font-weight: bold;
      line-height: 0.79;
      text-align: center;
      margin: 0 0 10px 0;
    }
    .total {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.06;
    }
  }
}

