.main-footer
  .upper-block
    .upper-description-title Why to Choose Us?
    .upper-description-details There is multiple mixing services on the web, however, our service is the most user friendly one. Main goal of CoinMixer is to provide secure and easy to use bitcoin mixing service for everybody.
  .lower-block
    .security Security
    .description
      .title
        .upper-title Proven
        .lower-title mixing algorithm
      .title
        .upper-title No user
        .lower-title account required
      .title
        .upper-title No logs
        .lower-title are collected
      .title
        .upper-title Automatic recovery
        .lower-title in case of failure
    .stats-title Weekly stats
    .stats-details
      .btc
        img(src="../../assets/images/BTC.svg")
        .value 999.123456789
        .total Total Mixed Bitcoins
      .ltc
        img(src="../../assets/images/LTC.svg")
        .value 999.123456789
        .total Total Mixed Litecoins
      .eth
        img(src="../../assets/images/ETH.svg")
        .value 999.123456789
        .total Total Mixed Ethereum


