.main-footer
  .content-wrap
    .upper-block
      .upper-block__title Why to Choose Us?
      .upper-block__details There is multiple mixing services on the web, however, our<br>service is the most user friendly one. Main goal<br> of CoinMixer is to provide secure and<br> easy to use bitcoin mixing<br> service for everybody.
    .lower-block
      .lower-block__title Security
      .lower-block__list
        .lower-block__item Proven mixing algorithm
        .lower-block__item No user account required
        .lower-block__item No logs are collected
        .lower-block__item Automatic recovery in case of failure
    .stats-block
      .stats-block__title Weekly stats
      .stats-block__list
        .stats-block__item
          img(src="../../assets/images/BTC.svg")
          .value 999.123456789
          .total Total Mixed Bitcoins
        .stats-block__item
          img(src="../../assets/images/LTC.svg")
          .value 999.123456789
          .total Total Mixed Litecoins
        .stats-block__item
          img(src="../../assets/images/ETH.svg")
          .value 999.123456789
          .total Total Mixed Ethereum



