$url: '../../assets/images/';
* {
  font-family: GothamPro;
}

.googleMap {

  color: #0c86c8;

  h2 {
      font-weight: bold;
      margin-bottom: 20px;
      font-size: 20px;
      margin-top: 20px;
  }

  .address-add-fields {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;

    .input-rows {
      display: flex;
      flex-flow: row nowrap;
      .input {
        max-width: 440px;
        min-width: 240px;
        height: 40px;
        background-color: white;
        display: flex;
        flex-flow: row nowrap;
        border: 0.5px solid #35aac8;
        border-radius: 5px;
      }

      input {
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        height: 40px;
        padding-left: 5px;
      }

      .tip-input {
        margin-left: 40px;
        max-width: 240px;
        width: 100%;
      }
    }


    .add-marker {
      width: 100px;
      height: 30px;
      border-radius: 5px;
      background-color: #35aac8;
      padding-top: 11px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: white;
    }
  }

  .lower-area {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
