.googleMap
  h1 Title
  .map#map
    h2   Search and add a pin
    .address-add-fields
      .input-rows
        gmap-autocomplete.input(v-bind:place_changed="setPlace")
        .tip-input.input
          input(placeholder="Заметка")
      .add-marker(v-on:click="addMarker") Add


