$url: '../../assets/images/';
* {
  font-family: GothamPro;
}
.faq-page {
  min-width: 1202px;
  background: linear-gradient(to top right, #3023ae, #c86dd7);
//  url($url + 'small-fon.svg') 0 110px,
 // url($url + 'back-fon.svg') 0 0;
  width: 70%;
  margin: 0 auto;

  .content {
    max-width: 70%;
    height: 1100px;
    margin: 0 auto;
    color: #ffffff;

    .body {
      margin: 0 auto;
      margin-top: 60px;
      width: 940px;
      height: 522px;

      font-family: GothamPro;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      .title {
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
      }

    }

  }
}
