$url: '../../assets/images/';
* {
  font-family: GothamPro;
}
.faq-page {
  min-width: 1202px;
  background: url($url + 'info-left-angle.svg') 0 100% no-repeat,
  url($url + 'info-right-angle.svg') 100% 100% no-repeat,
  linear-gradient(124deg, #3023ae, #c86dd7);
  width: 100vh;
  height: 100vh;
  margin: 0 auto;

  .content {
    max-width: 940px;

    margin: 0 auto;
    color: #ffffff;
    .body {
      max-height: 522px;
      margin: 0 auto;
      margin-top: 40px;


      font-family: GothamPro;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      .title {
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      .first {
        margin-top: 0;
      }
    }

  }
}
