.faq-page
  .content
    mainHeader
    .body
      .title.first What is bitcoin mixing service?
      span The way bitcoin transactions work causes them to be chained together in a permanent public record. They are traceable along the blockchain from one bitcoin address to another. A mixing service can be used to mix one's funds with other's, with the intention of confusing the trail back to the fund's original source. Therefore, bitcoin mixing service helps protect privacy of your bitcoin transactions.
      .title How does it work?
      span We already prepared pre-mixed bitcoins for you. All you are required to do is click on the Participate link, fill the form containing list of your outputs (the address where anonymized bitcoins will be sent) and confirm the transaction by sending the equal amount of bitcoins (plus fee) to our bitcoin address. The mixed bitcoins will be then sent back to you automatically.
      .title Do you charge any fee?
      span We charge random service fee 1-4 % and address fee 0.0007 BTC per output address to cover transaction fees charged by miners.
      .title What happens if my browser crashes during the mixing process?
      span If you haven't transferred the bitcoins to input address yet, then just create a new participation. If the participation is already payed, then the mixing process will continue on our server and the outputs will be automatically processed. You can also check participation state anytime by visiting the permanent link stated in the Letter of Guarantee.
      .title What happens if I send less then required amount of bitcoins?
      span Our service will process the participation only if you send correct amount of bitcoins to the input address. If you send lower amount of bitcoins then required then click on "Fix Output Values" button which is located on the bottom of participation overview. Otherwise our service would put the participation on hold and you would have to contact us to resolve the problem. We can also cancel the participation completely if you want (send Letter of Guarantee along with a refund address to us).
