@import '../../styles/colors.scss';

.main-header {
  width: 100%;
  background-color: #35aac8;
  color: #ffffff;
  margin-bottom: 40px;
  border: none;
}
.menu {
 // max-width: 708px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  &__item {
    font-size: 18px;
    font-weight: bold;
    padding: 36px 20px;
    align-items: center;
    cursor: pointer;
  }
}


