.main-header
  .content
    .navigation-bar
      .navigation-point Main
      .navigation-point Investing
      .navigation-point Why should I mix my coins?
      .navigation-point How does it work?
      .navigation-point FAQ
      .navigation-point Fees
    .language-bar
      .language EN

