.main-header
  .menu
    .menu__item( v-on:click="switchBlock('new')") Добавление
    .menu__item( v-on:click="switchBlock('change')") Редактирование
    .menu__item( v-on:click="switchBlock('list')") Список адресов
