$url: '../../assets/images/';
@import '../../styles/colors.scss';

* {
  font-family: GothamPro;
}

.new-address {

  .content {

    .body {
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      color: black;

      .map {
        margin-top: 48px;
        height: 548px;
        width: 100%;
      }
    }
  }
}
