.new-address
  .content
    .body
      //gmap-autocomplete(v-bind:place_changed="setPlace")
      //.latitude.marker {{currentLat}}
      //.longitude.marker {{currentLng}}
      //
      //.current-address {{currentAddress}}

      //
      //gmap-autocomplete(@place_changed="setPlace")
      //button(@click="addMarker")
      //
      //.map#map

    googleMap

