.new-address
  .body
    .address-name.input
      input(placeholder="Название адреса" v-model='addressName')
    .coords
      .let.coord Широта:&nbsp {{markerLatitude}}
      .lat.coord Долгота:&nbsp {{markerLongitude}}
    .error-message {{errorMessage}}
    .map(ref="map")
    .save.button(v-on:click="saveAddress") Сохранить

