.new-address
  .content
    .body
      .adding-area
        .title Введите адрес:
        .address-input.input
          input(placeholder="Адрес")
        .tip-input.input
          input(placeholder="Заметка")
      .map-area
        .map(id='googleMap')

